
body{
     background-color: antiquewhite;
 }
.bloki{
	 display: flex;
 }
.pirveli{
	
 }
.meore{	
	 padding-inline:100px;
 }
.centri{
	 text-align: center;
	 font-size: larger;
	 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.centri1{
	 text-align: center;
	 font-size: larger;
	 font-family: 'Courier New', Courier, monospace;
}
.centri2{
	 text-align: center;
	 font-size: larger;
	 font-family: Georgia, 'Times New Roman', Times, serif;
}
.centri3{
	text-align: center;
	font-size: larger;
	font-family: fantasy;
}
.centri4{
	text-align: center;
	font-size: larger;
	font-family: unset;
}
.icon{
	
}